<!DOCTYPE html>
<html lang="en">
<body>



<div class="container">
  <h2><span th:text="#{registarse.titulo}"></span></h2>
  <form class="form-horizontal" method="post" action="/signup" th:object="${user}">
  
    <div class="form-group">
      <label class="control-label col-sm-2" for="email"><span th:text="#{registrarse.email}"></span></label>
      <div class="col-sm-10">
        <input type="email" class="form-control" name="email"  />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="nombre"><span th:text="#{registrarse.nombre}"></span></label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" name="nombre"   />
      </div>
    </div>
     <div class="form-group">
      <label class="control-label col-sm-2" for="apellidos"><span th:text="#{registrarse.apellidos}"></span></label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" name="apellidos"   />
      </div>
    </div>
    <div class="form-group">
    	<label class="control-label col-sm-2" for="password"><span th:text="#{registrarse.contraseña}"></span></label>
    	<div class="col-sm-10">
    		<input type="password" class="form-control" name="password" required="true" />
    	</div>
    </div>
    <div class="form-group">
    	<label class="control-label col-sm-2" for="password2"><span th:text="#{registrarse.repetirContraseña}"></span></label>
    	<div class="col-sm-10">
    		<input type="password" class="form-control" name="password2" required="true"/>
    	</div>
    </div>
    
    
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary"><span th:text="#{registrarse.aceptar}"></span></button>
      </div>
    </div>
  </form>
</div>



</body>
</html>