<div class="text-center">
	<ul class="pagination pagination-centered">
	
		<li class="page-item">
			<a class="page-link" th:href="@{'?page=0'}"><span th:text="#{pagination.first}"></span></a>
		</li>
	
		<li class="page-item" th:if='${page.getNumber()-1 >= 0}'>
			<a class="page-link"
				th:href="@{'?page='+${page.getNumber()-1} }"
				th:text="${page.getNumber()}"></a>
		</li>
	
		<li class="page-item active" >
			<a class="page-link"
				th:href="@{'?page='+${page.getNumber()} }"
				th:text="${page.getNumber()+1}"></a>
		</li>
	
		<li class="page-item" th:if='${page.getNumber()+1 <= page.getTotalPages()-1}'>
			<a class="page-link"
				th:href="@{'?page='+${page.getNumber()+1} }"
				th:text="${page.getNumber()+2}"></a>
		</li>
	
		<li class="page-item">
			<a class="page-link" th:href="@{'?page='+${page.getTotalPages()-1}}"><span th:text="#{pagination.last}"></span></a>
		</li>
	
	</ul>
</div>